@model IEnumerable<ProductImage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/Images/@item.Name" title="@item.Name">
                        <img src="/Images/@item.Name" alt="@item.Name" height="34" />
                    </a>
                </td>
                <td>

                    <a href="/Products/Detail/@item.ProductId" class="btn btn-outline-primary" title="Ürün Sayfasını Gör" target="_blank">
                        <i class="bi bi-search"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detay</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>